.course-list {
    display: flex;
    flex-wrap: wrap;
    height: 100%;
    overflow: auto;
    margin: 0;
    &__item {
        margin: 15px 10px;
        width: 270px;
        height: 208px;
        border-radius: 10px;
        background-color: gray;
        list-style: none;
        overflow: hidden;
        transition: all .2s;
        &:hover {
            transform: scale(1.02);
        }
        &:active {
            transform: scale(.98);
        }
    }
    &__link {
        display: block;
        width: 100%;
        height: 100%;
    }
    &__img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: 50% 50%;
        pointer-events: none; //this is the way(
    }
    &::-webkit-scrollbar {
        width: 18px;
    }
    &::-webkit-scrollbar-track {
        background: rgba($color: #C4C4C4, $alpha: .5);
        border-radius: 25px;
    }
    &::-webkit-scrollbar-thumb {
        background-color: rgba(0, 0, 0, .3);
        border-radius: 25px;
    }
}
