.form-modal {
    background-image: url(../../imgs/reg.svg);
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-size: cover;
    background-position: center;
}

.form-dialog {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    &__button-wrapper {
        position: absolute;
        transform: translateY(-50%);
        display: flex;
        width: 100%;
        justify-content: space-between;
        align-items: center;
        padding: 0 55px 0 55px;
        box-sizing: border-box;
    }
    &__link {
        position: relative;
    }
    &__button-bg {
        pointer-events: none;
        position: absolute;
        top: -20px;
        left: -20px;
        right: -20px;
        bottom: 27.01px;
        border-radius: 30px 30px 0 0;
        z-index: -1;
        transition: background-color .3s;
    }
    &__link_active > &__button-bg {
        background-color: rgba($color: #FFFFFF, $alpha: .8);
    }
    &__link:hover:not(&__link_active) > &__button-bg {
        background-color: rgba($color: #FFFFFF, $alpha: .5);
    }
    &__link:active:not(&__link_active) > &__button-bg {
        background-color: rgba($color: #FFFFFF, $alpha: .8);
    }
    &__button {
        cursor: pointer;
        background-color: #86F4BD;
        font-size: 12px;
        font-weight: 600;
        padding: 20px 0px 20px 0px;
        border-radius: 10px;
        border: 0;
        width: 156px;
        transition: background-color .3s;
        &:active {
            background-color: #6aa8db;
        }
    }
    &__link_active > &__button {
        background-color: #75B8EF;
    }
}

.form-form {
    width: 506px;
    background-color: rgba($color: #FFFFFF, $alpha: .8);
    border-radius: 20px;
    padding: 35px 20px;
    &__button {
        display: block;
        margin: 20px auto;
        font-size: 12px;
        border-radius: 10px;
        border: 0;
        padding: 12px 74px;
        background: rgb(246,211,101);
        background: linear-gradient(90deg, rgba(246,211,101,1) 0%, rgba(253,160,133,1) 100%);
    }
    &__links {
        display: flex;
        justify-content: center;
        a {
            margin: 0 10px 0 10px;
        }
    }
}
