.profile-field {

    &__wrapper {
        position: relative;
        width: 973px;
        margin-top: 122px;
        margin-left: 20px;
    }
    &__btn-wrapper {
        position: absolute;
        top: -47px;
    }
    &__select-btn {
        margin-right: 25px;
        padding: 16px 50px 16px 50px;
        border: 1px solid rgba(0, 0, 0, .5);
        border-radius: 30px 30px 0 0;
        font-size: 12px;
        background-color: #9EDBEC;
        &_active {
            padding-bottom: 17px;
            background-color: rgba(255, 255, 255, 0.9);
            border-bottom: none;
        }
    }
    &__container {
        padding: 15px;
        border: 1px solid #000;
        border-radius: 0 0 20px 20px;
        background-color: rgba(255, 255, 255, 0.9);
    }
}
