.blocks-container {
    max-width: 1200px;
    margin: 0 auto;
    margin-top: 20px;
    display: flex;
    padding: 75px 15px 15px 15px;
    .constructor {
        position: relative;
        margin: 0 auto;
        margin-top: 60px;
        width: 100%;
        box-sizing: border-box;
        &__block {
            display: flex;
            justify-content: space-around;
            padding: 10px;
            border: 1px solid black;
            &-piece {
                cursor: pointer;
                padding: 10px 30px;
                border: 1px solid black;
            }
            &-text {
                min-height: 50px;
                width: 100%;
                box-sizing: border-box;
            }
            &-title {
                min-height: 50px;
                width: 100%;
                box-sizing: border-box;
                background: red;
                margin: 0;
                font-size: 30px;
                font-weight: bold;
            }
        }
        &__field {

        }

    }
}
