.homepage-container {
    max-width: 1280px;
    margin: 0 auto;
    display: flex;
    padding: 75px 15px 15px 15px;
}

.homepage {
    z-index: -2;
    min-height: 100vh;
    background: rgb(50,192,206);
    background: linear-gradient(90deg, rgba(50,192,206,1) 0%, rgba(82,165,234,1) 100%, rgba(132,250,176,1) 100%);
}
