.header {
    position: fixed;
    width: 100%;
    height: 86px;
    top: 0;
    background-color: #2FABBA;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-bottom: 1px solid #fff;
    z-index: 1;
    &__logo {
        transform: scale(.9);
    }
    &__position {
        display: flex;
        align-items: center;
    }
    &__game-button {
        margin-right: 53px;
        margin-left: 30px;
        padding: 9px 72px 9px 72px;
        border: 0;
        border-radius: 10px;
        font-size: 12px;
        background: rgb(212,252,121);
        background: linear-gradient(90deg, rgba(212,252,121,1) 0%, rgba(150,230,161,1) 100%, rgba(150,230,161,1) 100%);
        transition: all .3s;
        &:hover {
            filter: brightness(90%);
        }
        &:active {
            filter: brightness(80%);
        }
    }
    &__news-button {
        padding: 9px 72px 9px 72px;
        border: 0;
        border-radius: 10px;
        font-size: 12px;
        background: rgb(255,255,255);
        background: linear-gradient(90deg, rgba(255,255,255,1) 0%, rgba(226,209,195,1) 100%);
        transition: all .3s;
        text-decoration: none;
        color: black;
        &:hover {
            filter: brightness(85%);
        }
        &:active {
            filter: brightness(75%);
        }
    }
    &__premium-button {
        padding: 16px 15px;
        border: 0;
        border-radius: 30px;
        font-size: 14px;
        color: #fff;
        background: rgb(246,211,101);
        background: linear-gradient(90deg, rgba(246,211,101,1) 0%, rgba(253,160,133,1) 100%);
        transition: all .3s;
        &:hover {
            filter: brightness(85%);
        }
        &:active {
            filter: brightness(75%);
        }
    }
}

