.drop-area {
    padding: 35px 0;
    border: 2px dashed #919191;
    color: #373737;
    text-align: center;
}

.drag-area {
    padding: 35px 0;
    border: 2px solid #919191;
    color: #373737;
    text-align: center;
}
