.user {
    &__foto {
        margin-top: 53px;
        background-color: red;
        height: 200px;
        width: 200px;
        border-radius: 50px;
    }
    &__nickname {
        margin-top: 14px;
        font-size: 12px;
        border: 1px solid rgba(0, 0, 0, .5);
        border-radius: 10px;
        background: rgb(50,192,206);
        background: linear-gradient(90deg, rgba(50,192,206,1) 0%, rgba(82,165,234,1) 71%, rgba(132,250,176,1) 100%);
        text-align: center;
        padding: 8px 50px;
        box-shadow:0 0 9px gray;
    }
    &__pazzls {
        margin-top: 10px;
        border: 1px solid rgba(0, 0, 0, .5);
        overflow: auto;
        height: 278px;
        border-radius: 10px;
    }
}
