.form-form {
    & > &__input {
        width: 100%;
        box-sizing: border-box;
        border-radius: 10px;
        padding: 10px;
        background: none;
        border: 1px solid rgba($color: #000, $alpha: .5);
        margin-top: 10px;
    }
    & > &__input ~ &__input {
        width: 100%;
        box-sizing: border-box;
        border-radius: 10px;
        padding: 10px;
        background: none;
        border: 1px solid rgba($color: #000, $alpha: .5);
        margin-top: 20px;
    }
    &__span {
        display: block;
        margin-top: 15px;
        font-size: 10px;
        color: rgba($color: #000, $alpha: .5);
    }
}
