.trajectory-puzzle {
    position: relative;
    &__title {
        font-size: 60px;
        font-weight: 500;
        color: rgba($color: #000000, $alpha: .9);
        text-align: center;
        margin: 0;
    }
    &__description {
        width: 450px;
        height: 350px;
        font-size: 27px;
        margin: 0 0 0 auto;
        color: rgba($color: #000000, $alpha: .85);
        overflow: auto;
        overflow-wrap: break-word;
        &::-webkit-scrollbar {
            width: 18px;
        }
        &::-webkit-scrollbar-track {
            background: rgba($color: #C4C4C4, $alpha: .5);
            border-radius: 25px;
        }
        &::-webkit-scrollbar-thumb {
            background-color: rgba(0, 0, 0, .3);
            border-radius: 25px;
        }
    }
    &__field {
        position: absolute;
        top: 180px;
        left: 180px;
        width: 160px;
        height: 130px;
        transform: scale(2.5);
    }
    &__icon {
        pointer-events: none;
        width: 35px;
    }
    &__piece {
        &-1 {
            cursor: pointer;
            position: absolute;
            pointer-events: none;
            box-sizing: border-box;
            padding: 12px 0 0 15px;
            top: 1px;
            left: 0;
            width: 80px;
            height: 66.5px;
            transition: all .3s;
            &:hover {
                z-index: 1;
                transform: translate(-5px, -5px) scale(1.1);
            }
            &:active {
                transform: translate(-6px, -6px) scale(1.15);
            }
            &.trajectory-puzzle__piece_active {
                z-index: 1;
                transform: translate(-6px, -6px) scale(1.1);
            }
        }
        &-2 {
            cursor: pointer;
            position: absolute;
            pointer-events: none;
            box-sizing: border-box;
            padding: 12px 0 0 25px;
            top: 0;
            right: 0;
            width: 81px;
            height: 80px;
            transition: all .3s;
            &:hover {
                z-index: 1;
                transform: translate(5px, -5px) scale(1.1);
            }
            &:active {
                transform: translate(6px, -6px) scale(1.15);
            }
            &.trajectory-puzzle__piece_active {
                z-index: 1;
                transform: translate(5px, -5px) scale(1.1);
            }
        }
        &-3 {
            cursor: pointer;
            z-index: 1;
            position: absolute;
            pointer-events: none;
            box-sizing: border-box;
            padding: 33px 28px;
            top: 4px;
            left: -1.5px;
            right: 0;
            bottom: 0;
            margin: auto;
            width: 94px;
            height: 100px;
            transition: all .3s;
            &:hover {
                z-index: 1;
                transform: scale(1.1);
            }
            &:active {
                transform: scale(1.15);
            }
            &.trajectory-puzzle__piece_active {
                z-index: 1;
                transform: scale(1.1);
            }
        }
        &-4 {
            cursor: pointer;
            position: absolute;
            pointer-events: none;
            box-sizing: border-box;
            padding: 35px 0 0 15px;
            bottom: -2px;
            left: 0;
            width: 79px;
            height: 83px;
            transition: all .3s;
            &:hover {
                z-index: 1;
                transform: translate(-5px, 5px) scale(1.1);
            }
            &:active {
                transform: translate(-6px, 6px) scale(1.15);
            }
            &.trajectory-puzzle__piece_active {
                z-index: 1;
                transform: translate(-5px, 5px) scale(1.1);
            }
        }
        &-5 {
            cursor: pointer;
            position: absolute;
            pointer-events: none;
            box-sizing: border-box;
            padding: 20px 0 0 25px;
            background-position: right top;
            bottom: 0;
            right: 1px;
            width: 80px;
            height: 67px;
            transition: all .3s;
            &:hover {
                z-index: 1;
                transform: translate(5px, 5px) scale(1.1);
            }
            &:active {
                transform: translate(6px, 6px) scale(1.15);
            }
            &.trajectory-puzzle__piece_active {
                z-index: 1;
                transform: translate(6px, 6px) scale(1.15);
            }
        }
    }
    &__svg {
        position: absolute;
        pointer-events: none;
        z-index: -1;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        path {
            pointer-events: auto;
        }
    }
}
