.registration-modal {
    background-image: url(../imgs/reg.svg);
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-size: cover;
    background-position: center;
}

.registration-dialog {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    &__button-wrapper {
        position: absolute;
        transform: translateY(-50%);
        display: flex;
        width: 100%;
        justify-content: space-between;
        align-items: center;
        padding: 0 55px 0 55px;
        box-sizing: border-box;
    }
    &__button {
        background-color: #86F4BD;
        font-size: 12px;
        font-weight: 600;
        padding: 20px 0px 20px 0px;
        border-radius: 10px;
        border: 0;
        width: 156px;
        &_active {
            background-color: #75B8EF;
            // border: 20px solid #fff;
            border-radius: 10px;
            // border-image: linear-gradient(rgba($color: #FFFFFF, $alpha: .8) 50%, transparent 50%);
            // &::before {
            //     content: '';
            //     width: 120px;
            //     height: 120px;
            //     background-color: red;
            //     z-index: 1;
            // }
        }
    }
}

.registration-form {
    width: 506px;
    height: 393px; 
    background-color: rgba($color: #FFFFFF, $alpha: .8);
    border-radius: 20px;
    padding: 35px 20px 16px 20px;
    &__input {
        width: 100%;
        box-sizing: border-box;
        border-radius: 10px;
        padding: 10px;
        background: none;
        border: 1px solid rgba($color: #000, $alpha: .5);
        margin-top: 21px;
    }
    &__span {
        display: block;
        margin-top: 15px;
        font-size: 10px;
        color: rgba($color: #000, $alpha: .5);
    }
    &__button {
        display: block;
        margin: 20px auto;
        font-size: 12px;
        border-radius: 10px;
        border: 0;
        padding: 12px 74px;
        background: rgb(246,211,101);
        background: linear-gradient(90deg, rgba(246,211,101,1) 0%, rgba(253,160,133,1) 100%);
    }
    &__links {
        display: flex;
        justify-content: center;
        a {
            margin: 0 10px 0 10px;
        }
    }
}

